.dashboard-title__common {
    margin: 10px 0px;
    font-size: 18px;
    font-weight: 600;
}

.bars-container {
    max-height: 88%;
    /* border:1px solid red; */
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    gap:20px;
    padding:20px;
}

.tiles-container {
    max-height: 88%;
    /* border:1px solid red; */
    display: flex;
    overflow-y: scroll;
    flex-wrap: wrap;
    gap:20px;
    padding:20px;
}

.item-tile {
    /* border:1px solid red; */
    height: 220px;
    width: 280px;
    border-radius: 10px;
    box-shadow: 0px 0px 7px 5px rgba(0,0,0,0.2);
    padding:20px;
}

.item-tile .tile-controls {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position:relative;
    margin-top:80px;
    /* border:1px solid red; */
}

.custom-button {
    padding: 10px;
    background-color: #ff495b;
    border-radius: 10px;
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tile-controls button {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #ff495b;
    color:white;
}

.colored {
    color:#ff495b
}

.item-tile .title {
    font-size: 18px;
}

.sm-spacer {
    margin:10px 0px;
}

.bar-item {
    /* border: 1px solid red; */
    min-height: 140px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 13px 2px rgba(0,0,0,0.4);
}

.create-bar__item {
    background-color: #ff495b;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    transition: .5s;
    cursor: pointer;
}

.create-bar__item:hover {
    transform: scale(1.02);
    transition: .5s;
    background-color: white;
    border:4px solid #ff495b;
    color: #ff495b;
}

.create-bar__item:focus {
    animation: dropShadow .5s ease-in-out;
    
}

@keyframes dropShadow {
    50% {
        transform: scale(1);
        box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.7);
    }
}